@mixin button {
  margin-left: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  float: right;
  cursor: pointer;
}
.button {
  @include button;
  color: darkgray;
}
.buttonClicked {
  @include button;
  color: black;
}
