.roundCheckbox {
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  float: left;
}

.roundCheckbox:checked {
  background: lightskyblue;
  position: relative;
}

.roundCheckbox:checked:before {
  content: '✔';
  font-size: 1.4em;
  color: #fff;
  position: absolute;
  right: 4px;
}
