  .todo {
    margin-bottom: 5px;
    border: gray 1px solid;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    height: 30px;
  }

      
  .completed span {
    text-decoration: line-through;
    opacity: 0.5;
  }

  